body {
	font-family: Helvetica, Arial," sans-serif";
	font-size: 14px;
}

.card {
	width:300px;
	padding:10px;
	background-color: white;
	border: thin solid  #9A9A9A;
	border-radius: 10px;
	box-shadow: 10px 10px 5px #D4D4D4;
}

img {
	padding-bottom: 10px;
	width:300px;
}

.animal-info {
	padding:10px;
	border: thin solid #9A9A9A;
}

.fact {
	font-style: italic;
}

ul {
	list-style: none;
	padding: 0px;
}

h3 {
	font-size: 30px;
	padding: 10px;
}

.text-bold {
	font-weight: 600;
}